In [3]:
import pandas as pd
import numpy as np
import yahoo_fin.stock_info as si
import time
import timeit

start = timeit.default_timer()

In [4]:
# tickers=['ibm']
tickers=['AMZN','GOOG','PG','KO','IBM','MSFT']

In [5]:
tickers[0]

'AMZN'

In [43]:
extra_ratio=si.get_stats_valuation('msft')
extra_ratio

,Unnamed: 0,As of Date: 4/24/2021Current,12/31/2020,9/30/2020,6/30/2020,3/31/2020
0,Market Cap (intraday) 5,1.97T,1.68T,1.59T,1.54T,1.20T
1,Enterprise Value 3,1.90T,1.61T,1.53T,1.48T,1.14T
2,Trailing P/E,38.92,35.87,36.52,33.92,27.48
3,Forward P/E 1,32.36,33.00,32.15,32.36,25.32
4,PEG Ratio (5 yr expected) 1,2.41,2.57,2.50,2.48,2.77
5,Price/Sales (ttm),13.03,11.59,11.30,11.30,9.07
6,Price/Book (mrq),15.12,13.60,13.45,13.46,10.87
7,Enterprise Value/Revenue 3,12.41,37.42,41.06,38.83,32.54
8,Enterprise Value/EBITDA 7,25.30,74.38,78.80,83.86,68.75

In [45]:
# data=si.get_stats(p)
count = 0
x = True
while x:
    try:
        extra_ratio=si.get_stats_valuation('msft')
        count = count+1
        time.sleep(30)
        if count >=500:
            print(count)
            break
    except:
        print(count)
        x = False

402

In [20]:
stop = timeit.default_timer()

print('Time: ', stop - start)